<% include partials/header %>
<h1>You fell in love with: <%= thingVar %></h1>



<% if(thingVar.toLowerCase() === "s"){%>
    <h1>GOOD CHOICE</h1>


<%}%>
<p>P.S. this is eks.ejs file</p>

<% include partials/footer %>